@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');
@import 'variables.scss';

*{ // Reseta o padrão
    font-family: $font-main;
    text-decoration: none;
    list-style: none;
}

.reset-button{ // Remove os estilos dos botões
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    cursor: pointer;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
} 
.reset-button:hover{
    filter: brightness(0.85);
}


#app{
    max-width: 200vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 4fr;    
    grid-template-rows: 75px auto;
    grid-template-areas: "header header"
                         "aside main";
}